@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here

.register-button{
  background-color: #E94F37;
  color: black;
  width: 65%;
  border-radius: 5px;
  border-color: #100e0e;
  border-width: 1px;
  width: 175px;
  height: 45px;
  margin-left: 500px;
}
.user-buttons {
  background-color: #E94F37;
  color: black;
  width: 65%;
  border-radius: 5px;
  border-color: #100e0e;
  border-width: 1px;
  width: 175px;
  height: 45px;
  margin-left: 320px;
}

.title {
  text-align: center;
  font-size: 2rem;
  color: #E94F37;
  border: 1px solid black;
  border-radius: 2px; /* Adjust the border radius */
  padding: 10px;
  margin-bottom: 10px;
  background-color: black;
}

.form {
  width: 400px;
  margin: 0 auto;
}

.search-input {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px; /* Increase the padding */
  background-color: lightgray;
}

.submit-button {
  width: 100%;
  background-color: #E94F37;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 8px;
  font-weight: bold;
  cursor: pointer;
}

.game-image-container {
  flex: 0 0 auto;
  width: 400px; /* Adjust the width as needed */
  height: auto;
  border: 2px solid #000;
  margin-right: 40px;
  padding: 20px;
}

.game-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.game-details-container {
  flex: 1; /* Take remaining space */
  display: flex;
  flex-direction: column;
}

.offers-container {
  margin-top: 20px;
}


.offers-container {
  margin-top: 20px;
  width: 60%;
}


.form-row {
  display: flex;
  gap: 10px;
}

.offers-container {
  margin-top: 20px;
  margin-right: 500px;
}

.offer-tile {
  background-color: #f5f5f5;
  padding: 10px;
  margin-bottom: 10px;
}

.offer-tile p {
  margin: 0;
}

.latest-offer {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}


.game-index-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px; /* Adjust the margin value as needed */
}

.game-index-item {
  width: calc(33.33% - 20px); /* Adjust the width and margin value as needed */
  margin-bottom: 20px; /* Adjust the margin value as needed */
}

.game-index-item img {
  width: 100%;
  height: auto;
}


.img-size{
  width: 50px;
  height: 50px;
  margin-left: 50px;
}

.top-bar-format{
  margin-left: 272px;
}
.game-container {
  display: flex;
  align-items: center;
}

.game-image {
  flex: 0 0 auto;
  width: 300px;
  height: 200px;
  border: 2px solid #000;
  margin-right: 40px;
  padding: 20px;
}

.game-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.game-details {
  flex: 1 1 auto;
  color: #fff;
}

.game-details h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.game-details p {
  font-size: 20px;
  margin-bottom: 5px;
}

.moving-images-container {
  height: 100vh;
  display: flex;
  flex-direction: column; /* Display rows in a column */
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
}

.moving-images-row {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping of game images */
  overflow-x: auto; /* Enable horizontal scrolling */
  animation: moveRow 40s linear infinite; /* Adjust the duration to slow down the movement */
}

.moving-image {
  height: 200px; /* Increase or decrease the height as needed */
  width: 300px; /* Increase or decrease the width as needed */
  background-repeat: no-repeat;
  background-size: contain; /* Use "contain" to fit the entire image within the container */
  background-position: center;
  margin-right: 20px; /* Add a margin to separate game images */
}

@keyframes moveRow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate(-3840px); /* The image width */
  }
}


.games-on-sale-text{
  text-decoration: underline; 
}

.row-padding {
  padding: 64px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.two-third {
  width: 66.66%;
  padding-right: 16px;
}

.heading {
  font-size: 48px;
  margin-bottom: 32px;
  text-transform: capitalize;
  color: #F6F7EB;
}

.subheading {
  padding: 32px 0;
  font-size: 20px;
  color: #E94F37;
}

.text-grey {
  color: grey;
}


.start-page-container {
  padding: 128px 16px;
  color: white;
}

.start-page-heading {
  margin: auto;
  font-size: 48px;
  text-align: center;
  color: #F6F7EB;
}

.start-page-subheading {
  font-size: 24px;
  text-align: center;
  color: #F6F7EB;
}

.top-bar-text{
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;;
}
.sign-in-border {
  border: 2px solid black;
  width: 60%;
  padding-top: 50px;
  font-family: Montserrat, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  border-radius: 10px;
  background-color: #100e0e;
}
.grid-container {
  padding-top: 100px;
  margin-top: 50px;
  padding-bottom: 50px;
  background-color: #100e0e;
}

.sign-in-top-text{
  text-align: center;
  color: #E94F37;
}

.sign-in-bar-text{
  color: #E94F37;
}

.sign-in-link-text{
  color: #F6F7EB;
}
body {
  background-color: #393E41;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  overflow-y: scroll; 
}
body::-webkit-scrollbar {
  display: none; 
}

.top-bar-color {
  background-color: #100e0e;
  color: #100e0e;
  ul {
    background-color: #100e0e;
    color: #100e0e;
  }
}
.top-bar-text {
  color:#E94F37;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}
.app-name-text{
  margin-left: 100px;
}

.menu-nav-format{
  text-align: center;
}
.menu {
  background-color: #100e0e;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}
