@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
.top-bar-text{
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;;
}
.sign-in-border {
  border: 2px solid black;
  width: 60%;
  padding-top: 50px;
  font-family: Montserrat, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  border-radius: 10px;
}
.grid-container {
  padding-top: 100px;
  margin-top: 50px;
  padding-bottom: 50px;
  background-color: white;
}

.sign-in-top-text{
  text-align: center;
}
body {
  background-color: #35363a;
}

.top-bar-color {
  background-color: #100e0e;
  color: #100e0e;
  ul {
    background-color: #100e0e;
    color: #100e0e;
  }
}
.top-bar-text {
  color:white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}
.app-name-text{
  margin-left: 100px;
}

.menu-nav-format{
  text-align: center;
}
.menu {
  background-color: #100e0e;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}
